.item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  margin-top: 7px;
}

.item:not(:last-child) {
  margin-bottom: 7px;
}

.button {
  padding: 5px;

  border: 1px solid #212121;
  border-radius: 5px;

  &:hover,
  :focus {
    color: crimson;
    font-weight: 500;
    background-color: rgb(252, 152, 152);
    border: 1px solid rgb(252, 152, 152);
  }
}
