.section {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 15px 0;
}

.section:not(:last-child) {
  border-bottom: 1px solid #212121;
}

.title {
  margin-bottom: 10px;

  font-size: 22px;
  font-weight: 700;
}
